bcrypt==4.1.2
disutils==1.4.32.post2
django-allauth==0.62.1
django-countries==7.6.1
faker==25.2.0
fastapi==0.110.0
fqdn==1.5.1
hypothesis==6.99.9
install==1.3.5
isoduration==20.11.0
jsonpointer==2.4
jupyter==1.0.0
matplotlib==3.8.3
model-bakery==1.18.0
mypy==1.10.0
nanobind==1.9.2
pip-chill==1.0.3
psycopg==3.1.18
psycopg-pool==3.2.1
psycopg2==2.9.9
py-avataaars==1.1.2
pylint==2.17.4
pytest==8.1.1
python-dotenv==1.0.1
reportlab==4.2.0
scipy==1.12.0
tensorflow==2.16.1
torchvision==0.18.0
uri-template==1.3.0
uvicorn==0.28.0
webcolors==1.13
