{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Application</title>
{% endblock %}


{% block content %}
<h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>

<h2>
    Searching for
</h2>

<h3>
    Applications related to current keyword...
</h3>


<form>
    <input type="text" id="jobname" name="jobname" placeholder="Search"><br>
</form>



    <div class="listings_container">
        {% if all_listings %}

            {% for listing in all_listings %}
                <div class="listing_box">
                    <a class="listing" href="{% url 'applicant:listing_detail' lid=listing.id %}" >

                        <h2 class="listing_text">Job Title: {{ listing.job_title }}</h2>
                        {# TODO: CHANGE TO COMP LOGO <h4 class="listing_text"> Company: {{ listing.company }}</h4> #}
                        <h4 class="listing_text">Category: {{ listing.category }}</h4>
                        <h4 class="listing_text">Type: {{ listing.employment_type }}</h4>
                        <h4 class="listing_text">Salary: {{ listing.salary_low }}-{{ listing.salary_high }}</h4>
                        <h4 class="listing_text">Due Date: {{ listing.due_date }}</h4>

                    </a>
                </div>
            {% endfor %}

            {% else %}
                <h1> NO DATA </h1>

        {% endif %}
    </div>
{% endblock %}