{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Application</title>
{% endblock %}

{% block content %}
    <div class="title">
        <h1 class="title">SalarySleuth</h1>
        <br>
        <h2 class="sub_title" id="test" onclick="testFunction()">Your Applications</h2>
    </div>

{# TODO:  ég kann ekkert að gera search bar viggggooooooooo help#}
    <div class="search_container_container">
        <div class="search_container">
            <form>
                <input class="search_misc" type="text" id="job_title" name="job_title" placeholder="Search by job title" value="{{ request.GET.job_title }}">
                <button type="submit" style="display: none;"></button>
            </form>
        </div>
    </div>


    <div class="listings_container">
        {% if applications %}
            {% for application in applications %}
                <div class="listing_box">
                    <a class="listing" href="{% url 'applicant:listing_detail' lid=application.listing_id %}" >
                        <h2 class="listing_text">{{ application.listing.job_title }}</h2>
                        {# TODO: CHANGE TO COMP LOGO <h4 class="listing_text"> Company: {{ listing.company }}</h4> #}
                        <h4 class="listing_text">Company: {{ application.listing.company.name }}</h4>
                        <h4 class="listing_text">Category: {{ application.listing.category }}</h4>
                        <h4 class="listing_text">Applied on: {{ application.date }}</h4>
                        <h4 class="listing_text">Employment Type: {{ application.listing.employment_type }}</h4>
                        <h4 class="listing_text">Salary: {{ application.listing.salary_low }}-{{ application.listing.salary_high }}</h4>
                        <h4 class="listing_text">Status: {{ application.status }}</h4>
                        <h4 class="listing_text">Due Date: {{ application.listing.due_date }}</h4>

                    </a>
                </div>
            {% endfor %}

            {% else %}
                <h1> You have not applied for any jobs yet </h1>

        {% endif %}
    </div>
{% endblock %}