<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}
        <title>Base Generic</title>
    {% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block static %}
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'CSS/styles_app.css' %}" />

        <script src="{% static '/Scripts/script_generic.js' %}"></script>
    {% endblock %}

  </head>
  <body>
  <!-- TODO: make menu thingy script collapsable -->


  <div class="Page_Container">
  
    {% block header %}
    
    {% endblock %}
  
    {% block sidebar %}
        <ul class='sidebar-nav'>
          <li><a href="{% url 'applicant:login_page' %}">Log Out</a></li>
          <li><a href="{% url 'applicant:listings' %}">All Listings</a></li>
          <li><a href="{% url 'applicant:applications' uid=1%}">Your Applications</a></li>
          <li><a href="{% url 'applicant:profile' uid=1%}">User Profile</a></li>
        </ul>
    {% endblock %}
    {% block content %}{% endblock %}
  </div>
  </body>
</html>