<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}
        <title>Base Generic</title>
    {% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block static %}
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'CSS/styles_app.css' %}" />

    {% endblock %}

  </head>
  <body>
  <!-- TODO: make menu thingy script collapsable -->
    
        {% block header %}
        {% endblock %}

  <div id="Page_Container" class="Page_Container">
  
    {% block sidebar %}
        <div class="navbar_container" id="navbar_container">
            <button onclick="navCollapse()">Img</button>
            <div class="nav_transparent" id="nav_transparent">
              <ul class="collapsible_nav" id="collapsible_nav">
                <li><a href="{% url 'applicant:logout' %}"><h4>Log Out</h4></a></li>
                <li><a href="{% url 'applicant:listings' %}"><h4>All Listings</h4></a></li>
                <li><a href="{% url 'applicant:companies' %}"><h4>All Companies</h4></a></li>
                <li><a href="{% url 'applicant:applications' uid=1%}"><h4>Your Applications</h4></a></li>
                <li><a href="{% url 'applicant:profile' uid=1%}"><h4>User Profile</h4></a></li>
              </ul>
            </div>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
  </div>

  {# TODO: EW OJJ FOKK FOOTER IT IS VESEN #}
      {% block footer %}
          <footer class="footer">
          </footer>
      {% endblock %}
  </body>

    {% block script %}
        {% load static %}
        <script src="{% static 'Scripts/generic_app.js' %}"></script>
    {% endblock %}

</html>
