<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}
        <title>Base Generic</title>
    {% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block static %}
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'CSS/styles_app.css' %}" />

    {% endblock %}

  </head>
  <body onscroll="scrollFunction()">
    
    {% block header %}
      <header class="header">
          {% block sidebar %}
                <div class="navbar_container" id="navbar_container" onclick="navCollapse()">
                    <h2>Img</h2>
                    <div class="nav_transparent" id="nav_transparent">
                      <ul class="collapsible_nav" id="collapsible_nav">
                        <li><a href="{% url 'applicant:listings' %}">All Listings</a></li>
                        <li><a href="{% url 'applicant:companies' %}">All Companies</a></li>
                      </ul>
                    </div>
                </div>
            {% endblock %}

            {% block profile %}

                <div class="user_profile">
                    <a href="{% url 'applicant:profile' %}" onmouseenter="profileHover()" onmouseleave="profileUnHover()">
    {#                    {{ user.applicant.applicant_image.url }}#}

                        <img class="profile_picture" src="{% static 'Svgs/default_applicant_image.svg' %}" alt="Profile Picture">

                    </a>

                    <div class="profile_transparent" onmouseenter="profileHover()" onmouseleave="profileUnHover()">
                        <ul class="profile_nav" id="profile_nav">
                            <li><a href="{% url 'applicant:logout' %}">Log out</a></li>
                            <li><a href="{% url 'applicant:applications' uid=1 %}">My Applications</a></li>
                        </ul>
                    </div>
                </div>

            {% endblock %}
      </header>
    {% endblock %}

      <div id="Page_Container" class="Page_Container">
        {% block content %}{% endblock %}
      </div>

    {% block footer %}
      <footer class="footer">
        <p>aaaaaaaaaa footer</p>
      </footer>
    {% endblock %}

  </body>

  {% block script %}
    {% load static %}
    <script src="{% static 'Scripts/generic_app.js' %}"></script>
  {% endblock %}

</html>
