{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Review Application Details</title>
{% endblock %}

{% block content %}

    <div class="title">
        <a href="{% url 'applicant:listings' %}">
            <h1 class="title">SalarySleuth</h1>
        </a>
        <br>
        <h2 class="sub_title" id="test" onclick="testFunction()">Review Application Details</h2>
    </div>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="step" value="review">
        <a type="submit" >Submit</a>
    </form>

    {% if messages %}
    <div  class="messages">
        <ul>
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}