{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>{{ company.name }}</title>
{% endblock %}

{# TODO: why tf stækkar griddið alltaf þegar það bætist við :angry:#}
{% block content %}

    <h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>

    <div class="listing_card">
        <div class="card_logo">
            <img class="company_logo" src="{{ company.logo.url }}">
        </div>
    
        <div class="card_head">
            <h3>{{ company }}</h3>
                <br>
            <p>Location: {{ company.location }}</p>
        </div>

        <div class="card_apply">
        </div>

{# TODO: vantar company cover image#}

        <div class="card_main">
            <h3>What does {{ company }} do?</h3>
                <br>
            <p> {{ company.info }} </p>
        </div>
        
{# TODO: make sure listings are not overdue#}
        <div class="card_listings">
            <h3>Company Listings</h3>
                <br>
            {% for listing in company_listings %}
            	<a class="" href="{% url 'applicant:listing_detail' lid=listing.id %}">
                    {{ listing }}
                </a>
                <br>
                <br>
            {% endfor %}
            
        </div>

    </div>


{% endblock %}