{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Registered Companies</title>
{% endblock %}

{% block content %}

    <h1 class="title">SalarySleuth</h1>

    <h2 class="sub_title" id="test" onclick="testFunction()">All Companies</h2>
    
    <div class="search_container_container">
        <div class="search_container">
            <form>
                <input class="search_misc" type="text" id="company" name="company_name" placeholder="Search" value="{{ request.GET.company_name }}">
                <button type="submit" style="display: none;"></button>
            </form>
        </div>
    </div>

    <div class="listings_container">
        {% if all_companies %}

            {% for company in all_companies %}
                <div class="listing_box">
                    <a class="listing" href="{% url 'applicant:company_detail' cid=company.id %}" >
                        {#Company image of logo code#}
                        <h3>{{ company.name }}</h3>
                        <p><strong> Number: </strong>{{ company.phone_number }}</p>
                        <p>{{ company.info }}</p>
                    </a> 
                </div>
            {% endfor %}

            {% else %}
                <h1> No companies </h1>
        {% endif %}
    </div>

{% endblock %}