{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>{{ company.company_name }}</title>
{% endblock %}


{% block content %}

    <h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>
    
    <div class="listing_card">
        <div class="card_head">
            <a href=""> {{ company }} </a>
            <h3> {{ company }} </h3>
        </div>

        <div class="card_apply">

            meow
            
        </div>

        <div class="card_main">
            <h2>Job Description</h2>
            <h3> </h3>
        </div>
    </div>
{% endblock %}