{% extends "applicant/base_generic_app.html" %}

{% block title %}
  <title>Listing detail</title>
{% endblock %}


{% block content %}
    <div>
        <h1>SalarySleuth</h1>
    </div>

    {% block header %}
            <a class="or_button" href="{% url 'applicant:profile' uid=1 %}">
                Profile
            </a>
    {% endblock %}

    <a class="or_button" href="{% url 'applicant:listings' %}">
        Back to listings
    </a>

    <div>
        <h2>Company</h2>
        <h3>Offer - Location</h3>
    </div>

    <div>
    
        <a class="or_button" href="{% url 'applicant:choose_info' uid=1 lid=1%}">
            Apply
        </a>
    </div>

    <div>
        <h2>Job Description</h2>
        <h3>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
    </div>

{% endblock %}