{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>{{ listing.job_title }} | {{ listing.company.name }}</title>
{% endblock %}

{% block content %}

    <h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>

    <div class="listing_card">
        <div class="card_logo">
            <img class="company_logo" src="{{ listing.company.logo.url }}">
        </div>

        <div class="card_head">
            <h4>{{ listing.job_title }}</h4>
                <br>
            <p>Location: {{ listing.company.location }}</p>
        </div>

        <div class="card_apply">
            {% if has_applied %}
                  <a class="card_button_applied" >
                      Applied
                  </a>

                {% else %}
                    <a class="card_button" href="{% url 'applicant:choose_info' lid=listing.id%}">
                        Apply
                    </a>
            {% endif %}
        </div>

{# TODO: vantar company cover image#}

        <div class="card_main">
            <h3>Job Description</h3>
                <br>
            <p> {{ listing.description }} </p>
        </div>

        <div class="card_listings">

            <h3>Job Details</h3>
                <br>
            <p>{{ listing.employment_type }}</p> <br>
            <p><strong>Job Category:</strong> <br> {{ listing.category }}</p> <br>
            <p><strong>Application Due:</strong> <br> {{ listing.due_date }}</p> <br>
            <p><strong>Starting Date:</strong> <br> {{ listing.starting_date }}</p> <br>
            <p><strong>Company Name:</strong><a href="{% url 'applicant:company_detail' cid=listing.company.id %}"> <br> {{ listing.company }}</a></p>
                
        </div>

    </div>


{% endblock %}