{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Job listings</title>
{% endblock %}

{% block content %}

    <h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>

    <div id="search_container" class="search_container">
        <select id="bigSelect" class="search_left">
            <option value="search-right-1">Job Title</option>
            <option value="search-right-2">Company</option>
            <option value="search-right-3">Employment Type</option>
            <option value="search-right-4">Category</option>
            <option value="search-right-5">Minimum Pay</option>
            <option value="search-right-6">Maximum Pay</option>
            <option value="search-right-7">Due Date</option>
            <option value="search-right-8">Sort</option>
        </select>
            <form method="GET">
                <input class="search_show" id="search-right-1" type="text" name="query" placeholder="Job title">
                <input class="search_hide" id="search-right-2" type="text" name="company" placeholder="Company">
                <select class="search_hide" id="search-right-3" name="employment_type">
                    <option value="">Employment type</option>
                    <option value="full_time">Full Time</option>
                    <option value="part_time">Part Time</option>
                    <option value="summer_job">Summer Job</option>
                </select>
    
                <select class="search_hide" id="search-right-4" name="category">
                        <option value="">Category</option>
                    {% for category in categories %}
                        <option value="{{ category.field }}">{{ category.field }}</option>
                    {% endfor %}
                </select>
    
                <input class="search_hide" id="search-right-5" type="number" name="min_pay" placeholder="Minimum Pay">
                <input class="search_hide" id="search-right-6" type="number" name="max_pay" placeholder="Maximum Pay">
                <input class="search_hide" id="search-right-7" type="date" name="due_date" placeholder="Due Date">
    
                <select class="search_hide" id="search-right-8" name="sort">
                    <option value="">Sort by</option>
                    <option value="pay_asc">Salary (Low to High)</option>
                    <option value="pay_desc">Salary (High to Low)</option>
                    <option value="due_date_asc">Due Date (Earliest First)</option>
                    <option value="due_date_desc">Due Date (Latest First)</option>
                </select>
    
                <input class="submit_button" type="submit" value="Filter">
            </form>
    </div>

{#    <a href="{% url 'applicant:listing_detail' lid=1 %}" >#}
{#        <h2>#}
{#            Company<br>#}
{#            Job title#}
{#        </h2>#}
{#        <h3>#}
{#            Location and type of job<br>#}
{#            Salary#}
{#        </h3>#}
{#    </a>#}

    <div class="listings_container">
        {% if all_listings %}

            {% for listing in all_listings %}
                <div class="listing_box">
                    <a class="listing" href="{% url 'applicant:listing_detail' lid=listing.id %}" >

                        <h2 class="listing_text">{{ listing.job_title }}</h2>
                        {# TODO: Until logo works #}
                        <p class="listing_text"><strong>Company:</strong> {{ listing.company }}</p>
                        <p class="listing_text"><strong>Category:</strong> {{ listing.category }}</p>
                        <p class="listing_text"><strong>Type:</strong> {{ listing.employment_type }}</p>
                        <p class="listing_text"><strong>Salary:</strong> {{ listing.salary_low }}-{{ listing.salary_high }}</p>
                        <p class="listing_text"><strong>Due Date:</strong> {{ listing.due_date }}</p>

                    </a>
                </div>
            {% endfor %}

            {% else %}
                <h1> NO DATA </h1>

        {% endif %}
    </div>

{% endblock %}