{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Job listings</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


        <h1 id="test" class="title">SalarySleuth</h1>


    <div id="searchbar" class="search_container">
        <form>
            <input id="searchbar" class="search_bar" type="text" id="jobname" name="jobname" placeholder="Search">
        </form>
    </div>


{#    <a href="{% url 'applicant:listing_detail' lid=1 %}" >#}
{#        <h2>#}
{#            Company<br>#}
{#            Job title#}
{#        </h2>#}
{#        <h3>#}
{#            Location and type of job<br>#}
{#            Salary#}
{#        </h3>#}
{#    </a>#}
{# TODO: Finish vvvv #}
    <div class="listings_container">
        {% if all_listings %}
            
            {% for listing in all_listings %}
                <div class="listing_box">
                    <a class="listing" href="{% url 'applicant:listing_detail' lid=listing.id %}" >
                        <h2 class="listing_text">{{ listing.job_title }}</h2>
                        <h4 class="listing_text">Company: {{ listing.company }}</h4>
                        <h4 class="listing_text"> {{ listing.category }}</h4>
                        <h4 class="listing_text"> {{ listing.employment_type }}</h4>
                    </a>
                </div>
            {% endfor %}
            
            {% else %}
                <h1> NO DATA </h1>
    
        {% endif %}
    </div>

{% endblock %}