{% extends "applicant/base_generic_app.html" %}

{% block title %}
  <title>Listing detail</title>
{% endblock %}

    {% block header %}
    {% endblock %}

{% block content %}

    <div class="title" id="test" onclick="testFunction()">
        <h1>SalarySleuth</h1>
    </div>

    <div class="listing_card">
        <div class="card_head">
            <a href=""> {{ listing }} </a>
            <h3> {{ listing }} </h3>
        </div>

        <div class="card_apply">

            {% if has_applied %}
                  <a class=card_button_applied" >
                      Applied
                  </a>

                {% else %}
                 <a class="card_button" href="{% url 'applicant:choose_info' uid=1 lid=1%}">
                      Apply
                  </a>
            {% endif %}
        </div>

        <div class="card_main">
            <h2>Job Description</h2>
            <h3> </h3>
        </div>
    </div>


{% endblock %}