{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title> Profile </title>
{% endblock %}

{% block content %}

    <h1 class="title">SalarySleuth</h1>

{# TODO: FIX LAYOUT, finalize what's supposed to be here and finalize ui #}
    <div  class="forms_wrapper">
    <form method="post" enctype="multipart/form-data" class="forms_profile">
        {% csrf_token %}


        <div class="forms_container">
            <h2>Personal Info</h2>
            <div class="form-instance" id="{{ form.prefix }}">
                {{ form.as_p }}
            </div>
        </div>


        <div class="forms_container">
            <h2>Education</h2>
            {{ education_formset.management_form }}
            {% for form in education_formset %}
                {% if forloop.last%}
                    <div class="form-instance" id="{{ form.prefix }}">
                        {{ form.as_p }}
                    </div>
                {% else %}
                    <div class="form-instance" id="{{ form.prefix }}">
                        {{ form.as_p }}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    
        <div class="forms_container">
            <h2>Work experience</h2>
            {{ experience_formset.management_form }}
            {% for form in experience_formset %}
                <div class="form-instance" id="{{ form.prefix }}">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
    
        <div class="forms_container">
            <h2>Recommendees</h2>
            {{ recommendation_formset.management_form }}
            {% for form in recommendation_formset %}
                <div class="form-instance" id="{{ form.prefix }}">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>

        <div class="forms_container">
            <h2>Files</h2>
            {{ resume_formset.management_form }}
            {% for form in resume_formset %}
                <div class="form-instance" id="{{ form.prefix }}">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
    
        <button type="submit">Submit</button>
        </form>
    </div>

    <div class="current_info">
        <div class="forms_container">
            <h2>Current Person Info</h2>
            #TALK TO VALLI TO SUMMON FORTH
        </div>

        <div class="forms_container">
            <h2>Curent Education</h2>
            {#{{ education_formset.management_form }}#}
            {% for form in education_formset %}
                {% if forloop.counter > formset.initial_form_count %}
                    <div class="form-instance" id="{{ form.prefix }}">
                        {{ form.as_p }}
                    </div>
                    {% endif %}
            {% endfor %}
        </div>

        <div class="forms_container">
            <h2>Current Experiance</h2>
        </div>

        <div class="forms_container">
            <h2>Current Recommendees</h2>
        </div>

        <div class="forms_container">
            <h2>Current Files</h2>
        </div>
    </div>

{% endblock %}
