{% extends "applicant/base_generic_app.html" %}

{% block title %}
  <title>Register</title>
{% endblock %}


{% block content %}
  <h1>SalarySleuth</h1>

  <h2>Register a New Account</h2>
    <form>

    </form>
    <form method="post" action="{% url 'applicant:register_view' %}">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Enter Username">
        <input type="text" id="email" name="email" placeholder="Enter E-mail">
        <input type="text" id="password" name="password" placeholder="Enter Password">
        <input type="text" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h3>
or
</h3>
<p><a href="signgoogle'">Sign in with Google</a></p>
<p><a href="signfacebook">Sign in with Facebook</a></p>
<p><a href="{% url 'applicant:login_page' %}">log in</a></p>

{% endblock %}