{% extends "applicant/base_generic_app.html" %}

{% block title %}
    <title>Review Your Application Details</title>
{% endblock %}

{% block content %}

    <div class="title">
        <a href="{% url 'applicant:listings' %}">
            <h1 class="title">SalarySleuth</h1>
        </a>
        <br>
        <h2 class="sub_title" id="test" onclick="testFunction()">Review Your Application Details</h2>
    </div>

    <form class="review_card" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card_review_head">
            <p> {{ applicant }} </p>
            <p> <strong>Phone Number: </strong> {{ applicant.phone_number }} </p>
            <p> <strong>Address: </strong> {{ applicant.country}}, {{ applicant.postal_code }}, {{ applicant.city }}, {{ applicant.street_name }}, {{ applicant.house_number }} </p>
        </div>

        <div class="card_review_listings">
            <div class="border_misc">
                <p><strong>Work Experience:</strong> <br><br>
                    {% for experience in form_data.work_experience %}
                        <ul>
                            <li><p>{{ experience.company_name }}</p></li>
                            <li><p>{{ experience.role }}</p></li>
                            <li><p>{{ experience.start_date }}</p></li>
                            <li><p>{{ experience.end_date }}</p></li>
                        </ul>
                    {% endfor %}
                </p>
            </div>

            <br>
        
            <div class="border_misc">
                <p><strong>Education:</strong> <br><br>
                    <ul>
                        {% for education in form_data.education %}
                            <li><p>{{ education }}</p></li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

            <br>

            <div class="border_misc">
                <p><strong>Recommendations:</strong> <br><br>
                    {% for recommendation in form_data.recommendations %}
                        <ul>
                            <li><p>{{ recommendation.name }}</p></li>
                            <li><p>{{ recommendation.company_name }}</p></li>
                            <li><p>{{ recommendation.role }}</p></li>
                            <li><p>{{ recommendation.email }}</p></li>
                            <li><p>{{ recommendation.phone_number }}</p></li>
    
                            {% if recommendation.can_be_contacted %}
                                <li><p> Can Contact </p></li>
                                {% else %}
                                    <li><p> Don't Contact </p></li>
                            {% endif %}
                        </ul>
                        <br>
                    {% endfor %}
                </p>
            </div>
        </div>
    
        <div class="card_review_main">
            <p><strong>Resume: </strong> <br> {{ form_data.resume }}</p>
                <br>
            <div class="card_review_letter">
                <p><strong>Cover Letter: </strong> <br> {{ form_data.cover_letter }}</p>
            </div>
        </div>

        <input type="hidden" name="step" value="final">
        <input type="hidden" name="resume" value="{{ form_data.resume.id }}">
        {% for experience in form_data.work_experience %}
            <input type="hidden" name="experiences" value="{{ experience.id }}">
        {% endfor %}
        {% for education in form_data.education %}
            <input type="hidden" name="educations" value="{{ education.id }}">
        {% endfor %}
        {% for recommendation in form_data.recommendations %}
            <input type="hidden" name="recommendations" value="{{ recommendation.id }}">
        {% endfor %}
        <input type="hidden" name="cover_letter" value="{{ form_data.cover_letter }}">

        <div class="button_contain_misc">
            <button class="card_review_apply" onclick="goBack()">Cancel</button>
        
            <button class="card_review_apply" type="submit">Submit</button>
        </div>
    </form>

{% endblock %}