<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}
      <title>Base Generic</title>
    {% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block static %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />

    <script src="{% static '/Scripts/script_generic.js' %}"></script>
    {% endblock %}


  </head>
  <body>
  <!-- TODO: make menu thingy script collapsable -->
  <div class="Page_Container">
      <div class="container-fluid">
        <div class='row'>
            <div class='col-sm-2'>
                {% block sidebar %}
                <ul class='sidebar-nav'>
                  <li><a href="{% url 'utilities_static:landing' %}">Landing Page</a></li>
                  <li><a href="{% url 'company:listings' %}">All Listings Page</a></li>
                  <li><a href="{% url 'utilities_static:choose' %}">Choose Page</a></li>
                </ul>
              {% endblock %}
            </div>
            <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
        </div>
      </div>
  </div>
  </body>
</html>