
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #10b981;
	overflow: hidden;
	height: -moz-available;
	height: -webkit-fill-available;
	width: -moz-available;
	width: -webkit-fill-available;
	padding: 2em;
}

.sidebar-nav {
	height: fit-content;
}

.head_navbar {
	grid-area: 1 / 3 / 1 / 3;
	background: #080808;
	height: 2em;
	align-content: center;
	width: 100%;
	margin-top: -2em;
	text-align: right;
}

.user_profile {

}

.collapsible-nav {
	padding: 0 30px;
}

.sidebar-nav {
	max-height: 0;
    overflow: hidden;
	padding: 0 0 0 30px;
}

.nav-trans {
	display: none;
  }

.collapsible-nav ul {
    list-style-type: none;
}
.collapsible-nav a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 56px;
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 50px;
}

.footer {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.title {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    background-color: #080808;
    margin-top: -1em;
}

.Page_Container {
	place-items: baseline;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0;
	grid-row-gap: 0;
	height: inherit;
	padding: 1em;
	background-color: #080808;
	overflow: scroll;
	scrollbar-3dlight-color: #3b82f6;
}

p, h1, h2, h3 {
	font-family: "Crimson Text", serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	color: #f8fafc;
}

text, label {
	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	color: #f8fafc;
}

.messages {
	color: #f8fafc;
}

a {
	color: #f8fafc;
	text-decoration: none;
	transition-duration: 0.33s;
}

a:hover {
	color: #10b981;
}

.login {
	grid-area: 3 / 1 / 3 / 3;
	text-align: center;
	width: 100%;
}

.login_forms {
	margin: auto;
	display: grid;
	width: 80%;
}

.divider {
	grid-area: 4 / 1 / 4 / 3;
	align-self: center;
	justify-self: center;
	text-align: center;
}

.or_container_container {
	grid-area: 5 / 1 / 5 / 3;
	align-self: center;
	justify-self: center;
	width: 80%;
}

.or_container {
	display: grid;
    text-align: center;
	align-self: center;
}

.or_button {
	border: 2px #047857;
	border-radius: 5px;
	border-style: ridge;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

.or_button:hover {
	background-color: #064e3b;
}

.listings_container {
	grid-area: 3 / 1 / 5 / 3;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1em;
}

.listing_box {
	width: inherit - 2px;
	height: 8em;
	border: 2px #047857 solid;
	border-radius: 5px;
}

.listing_box:hover {
	background-color: #047857;
}

.listing {
	display: block;
	height: 100%;
}

.listing {
	display: block;
	height: 100%;
}

.search_container {
	grid-area: 2 / 1 / 3 / 3;
	justify-self: center;
	margin-top: 1em;
	align-self: start;
	position: sticky;
	top: -17px;
	transition-duration: 0.3s;
}

.search_bar {
	border: 1px #080808 ridge;
	border-radius: 5px;
	width: 100%;
	text-align: center;
	transition-duration: 0.3s;
}

.listing_card {
	grid-area: 3 / 1 / 6 / 3;
	background: #202126;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 5px;
	display: grid;
	grid-template-rows: 20% 20% 60% ;
	grid-template-columns: 2fr 1fr 1fr;
}

.card_main {
	grid-area: 3 / 1 / 4 / 4;
	background: #232b2b;
	border-radius: 5px;
}

.card_apply {
	grid-area: 1 / 3 / 1 / 4;
}

.card_button, .card_button_applied {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	width: 10px;
	height: 1em;
}
::-webkit-scrollbar-track {
	background: #080808;
}
::-webkit-scrollbar-thumb {
	background: #10b981;
}
::-webkit-scrollbar-thumb:hover {
	background: #047857;
}
::-webkit-scrollbar-corner {
	display: none;
}


@media only screen and (min-width: 600px) {

	.Page_Container {
		background-color: #080808;
		display: grid;
		grid-template-columns: 1fr 4em 1fr;
		grid-template-rows: repeat(6, 1fr);
	}

	.sidebar-nav, .title{
		grid-area: 1 / 1 / 1 / 4;
	}

	.or_container_container {
		grid-area: 2 / 3 / 6 / 3;
		align-content: center;
		text-align: center;
	}

	.or_container {
		width: 80%;
		margin: auto;
	}

	.login {
		grid-area: 3 / 1 / 5 / 2;
		align-content: center;
		align-self: center;

	}

	.divider {
		grid-area: 2 / 2 / 6 / 3;
	}

	.title {
		grid-area: 2 / 1 / 3 / 4;
		justify-self: center;
		background-color: #080808;
		margin-top: -1em;
	}

	.per_info {
		grid-area: 3 / 1 / 3 / 2;
	}

	.per_edu {
		grid-area: 4 / 1 / 4 / 2;
	}

	.per_exp {
		grid-area: 5 / 1 / 5 / 2;
	}


	.cur_per_info {
		grid-area: 3 / 3 / 3 / 4;
	}

	.cur_per_edu {
		grid-area: 4 / 3 / 4 / 4;
	}

	.cur_per_exp {
		grid-area: 5 / 3 / 5 / 4;
	}

	.listings_container {
		grid-area: 3 / 1 / 5 / 4;
		display: grid;
		grid-template-columns: 47.5% 47.5%;
		grid-auto-rows: 10em;
		grid-column-gap: 5%;
		grid-row-gap: 1em;
		text-align: left;
	}

	.listing_box {
		width: inherit - 2px;
		height: 100%;
	}

	.search_container {
		grid-area: 2 / 1 / 3 / 4;
	}

	.search_bar {

	}

	.listing_card {
		grid-area: 3 / 1 / 6 / 4;
		width: inherit;
	}

}