
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
}

html, body {
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;     
	/*min-height: 100vh;*/
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

body {
	background-color: #10b981;
	height: -moz-available;
	height: -webkit-fill-available;
	width: -moz-available;
	width: -webkit-fill-available;
	overflow-y: hidden;
	padding: 1rem;

	min-height: calc(100vh - 2rem);

}

.navbar_container {
	position: absolute;
	left: 1rem;
	text-align: left;
	margin-top: 0.5rem;
	cursor: pointer;
	width: 0;
}

.nav_img {
	width: 50px;
	height: auto;
	filter: invert(59%) sepia(53%) saturate(5754%) hue-rotate(130deg) brightness(103%) contrast(87%);
}

.nav {
	visibility: visible;
}

.nav_transparent {
	visibility: hidden;
}

.collapsible_nav {
	visibility: inherit;
    list-style: none;
	width: max-content;
}

.user_profile {
	position: absolute;
	right: 1rem;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	align-items: flex-end;

}

.user_profile img {
	width: 2rem;
	height: 2rem;
}

.user_profile a {
	width: fit-content;
}

.profile_nav {
	align-content: center;
	visibility: inherit;
}

.profile_transparent {
	visibility: hidden;
	width: fit-content;
	align-self: flex-end;
	text-align: right;
}

.footer {
	background-color: #202126;
	color: white;
	text-align: center;
	width:inherit;

	bottom: 1rem;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	position: absolute;
	display: flex;
}

.header {
	background-color: #080808;
	border-bottom:#047857 2px solid ;
	color: white;
	text-align: center;
	width:inherit;

	top: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	position: absolute;
	display: flex;
}

.title {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    background-color: #080808;
    margin-top: -1rem;
	cursor: default;
}

.title_green {
    grid-area: 2 / 1 / 3 / 4;
    justify-self: center;
    background-color: #080808;
    margin-top: -1rem;
	color: #10b981;
	cursor: default;
}

.Page_Container {
	place-items: baseline;
	display: grid;
	overflow: hidden;

	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	grid-column-gap: 0;
	grid-row-gap: 4rem;
/*	height: inherit;
	margin-bottom: 2rem;
	padding: 1rem 1rem 3rem 1rem; */
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: #080808;
	height: inherit;
	min-height: calc(100vh - 2rem - 3.5rem);
}

h1, h2, h3, h4, strong {
	font-family: "Crimson Text", serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	color: #f8fafc;
}

p, text, label, img {
	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	color: #f8fafc;
}

.messages {
	color: #f8fafc;
}

a {
	color: #f8fafc;
	text-decoration: none;
	transition-duration: 0.33s;
	cursor: pointer;
}

a:hover {
	color: #10b981;
}
ul li a {
	transition-duration: 0s;
}

.login {
	grid-area: 3 / 1 / 3 / 3;
	text-align: center;
	width: 100%;
}

.login_forms {
	margin: auto;
	display: grid;
	width: 80%;
}

.divider {
	grid-area: 4 / 1 / 4 / 3;
	align-self: center;
	justify-self: center;
	text-align: center;
}

.or_container_container {
	grid-area: 5 / 1 / 5 / 3;
	align-self: center;
	justify-self: center;
	width: 80%;
}

.or_container {
	display: grid;
    text-align: center;
	align-self: center;
}

.or_button {
	border: 2px #047857;
	border-radius: 5px;
	border-style: ridge;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.or_button:hover {
	background-color: #064e3b;
}

.listings_container {
	grid-area: 4 / 1 / 6 / 3;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
}

.listing_box {
	display: grid;
	width: inherit - 2px;
	height: 8rem;
	border: 2px #047857 solid;
	border-radius: 5px;
}

.listing_box:hover {
	background-color: #047857;
}

.listing {
	display: block;
	height: 100%;
	margin: 0.5rem;
}

.listing {
	display: block;
	height: 100%;
}

.listing {
	display: block;
	height: 100%;
}

.search_container_container {
	display: block;
	justify-self: center;
	align-self: start;
	grid-area: 3 / 1 / 3 / 4;
	position: relative;
	background: #f8fafc;
	border: #10b981 2px ridge;
	width: 100%;
	max-width: 100%;
	height: 2rem;
}

.search_container {
	position: relative;
	background: #f8fafc;
	height: 1.5rem;
	display: contents;
}

.search_form {
	display: contents;
}

.label_img_1 {
	top: 0;
	height: 32px;
	position: absolute;
	background: #f8fafc;
	right: 5rem;
}

.search_left {
	max-width: 11%;
	height: 100%;
	border: 0;
	background: #f8fafc;
}

.search_hide {
	display: none;
}

.search_show {
	position: relative;
	background: 0;
	font-family: "Crimson Text", serif;
	font-weight: 100;
	font-style: normal;
	cursor: pointer;
	border: 0;
	display: inline;
	height: 100%;
	width: 17%;
}

.search_show_img_1 {
	position: absolute;
	right: 4rem;
	background: 0;
	font-family: "Crimson Text", serif;
	font-weight: 100;
	font-style: normal;
	cursor: pointer;
	border: 0;
	display: inline;
	height: 100%;
	width: 3rem;
}

.search_misc {
	position: absolute;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	border: 0;
	left: 0;
	border-radius: 0;
	width: 100%;
	height: 100%;
	display: inline;
}

.submit_button {
	position: absolute;
	border: 0;
	right: 0;
	width: 4rem;
	height: 100%;
	cursor: pointer;
}
.submit_button:hover {
	background: #10b981;
}

.listing_card {
	grid-area: 3 / 1 / -1 / -1;
	margin-bottom: 1rem;
	padding: 0.5rem;
	background: #202126;
	border-radius: 5px;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: 30% 70%;
	max-height: 69vh;
	overflow-wrap: anywhere;
}

.card_logo {
	grid-area: 1 / 1 / 1 / 1;
	display: contents;
}

.company_logo {
	max-height: 90%;
}

.card_head {
	grid-area: 1 / 3 / 1 / 5;
	align-content: center;
	margin-bottom: 0.5rem;
}

.card_main {
	grid-area: 2 / 1 / 2 / 4;
	margin-right: 0.25rem;
	padding: 0.5rem;
	background: #232b2b;
	border-radius: 5px;
}

.card_listings {
	grid-area: 2 / 4 / 2 / -1;
	margin-left: 0.25rem;
	padding: 0.5rem;
	background: #232b2b;
	border-radius: 5px;
	overflow-y: scroll;
}

.card_apply {
	grid-area: 1 / 5 / 1 / -1;
	text-align: center;
	align-content: center;
	margin-bottom: 0.5rem;
}

.card_button, .card_button_applied {
	border: 1px #047857;
	border-radius: 5px;
	border-style: ridge;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.pagination {
	display: contents;
	color: white;
	text-align: center;
}
.no_page {
	visibility: hidden;
}

.has_next {
	margin: 0 5px;
    text-decoration: none;
    color: #007BFF;
}
.has_next:hover {
    text-decoration: underline;
}

.has_prev {
	margin: 0 5px;
    text-decoration: none;
    color: #007BFF;
}
.has_prev:hover {
    text-decoration: underline;
}

.step-links {
    position: absolute;
    bottom: 4rem;
	left: 0;
	width: 100%;
}

.forms_wrapper {
	grid-area: 2 / 1 / 6 / 4;
}

.forms_profile {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	display: flex;
	align-items: start;
}

.forms_container {
	border: #10b981 2px ridge;
	text-align: left;
	display: flex;
	flex-direction: column-reverse;
	width: 25rem;
}

.form_instance {
	margin: 1.5rem;
	border-bottom:  #10b981 2px ridge;
}
.form_instance_2 {
	margin: 1.5rem;
}

.forms_container_special_1 {
	border: #10b981 2px ridge;
	text-align: left;
	padding: 1.5rem;
}

.forms_container_special_2 {
	width: 25rem;
}

.forms_container_special_3 {
	border: #10b981 2px ridge;
	text-align: left;
	padding: 1.5rem;
	display: flex;
	flex-direction: column-reverse;
}

.submit {
  display: block;
  border: none;
  background-color: #10b981;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15%;
}


::-webkit-scrollbar {
	width: 10px;
	height: 1rem;
}
::-webkit-scrollbar-track {
	background: #080808;
}
::-webkit-scrollbar-thumb {
	background: #047857;
}
::-webkit-scrollbar-thumb:hover {
	background: #065f46;
}
::-webkit-scrollbar-corner {
	display: none;
}



@media only screen and (min-width: 600px) {

	.Page_Container {
		background-color: #080808;
		display: grid;
		grid-template-columns: 1fr 4rem 1fr;
		grid-template-rows: repeat(6, auto);
		align-items: center;
		justify-items: center;
	}

	.sidebar-nav {
		grid-area: 1 / 1 / 1 / 4;
	}

	.or_container_container {
		grid-area: 2 / 3 / 6 / 3;
		align-content: center;
		text-align: center;
	}

	.or_container {
		width: 80%;
		margin: auto;
	}

	.login {
		grid-area: 3 / 1 / 5 / 2;
		align-content: center;
		align-self: center;
	}

	.divider {
		grid-area: 2 / 2 / 6 / 3;
	}

	.title, .title_green {
		justify-self: center;
		background-color: #080808;
		margin-top: -1rem;
	}
	
	.listings_container {
		grid-area: 4 / 1 / 6 / 4;
		display: grid;
		grid-template-columns: 47.5% 47.5%;
		grid-auto-rows: 10rem;
		grid-column-gap: 5%;
		grid-row-gap: 1rem;
		text-align: left;
	}

	.listing_box {
		width: inherit - 2px;
		height: 100%;
	}

	.listing_card {
		grid-area: 3 / 1 / -1 / -1;
	}

	.user_profile {
		grid-area: 1 / 3 / 1 / 3;
	}

  .footer {
    text-align: right;
    padding-right: 0.5rem;
  }
}
