html, body {

    margin: 0;
    width: 100%;

}

html {

    height: 100%;

}

body {

    margin: 0;
    height: 100%;
    background-color: #080808;

}

.Color_Container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    text-align: center;

}

.Blue {

    grid-area: 1 / 1 / 2 / 2;
    align-content: center;

    background: linear-gradient(45deg, #6A9BBB, #00B9FB, #006E95);
    background-size: 600% 600%;

}

.Blue:hover {

    -webkit-animation: BlueAnimation 11s ease ;
    -moz-animation: BlueAnimation 11s ease ;
    animation: BlueAnimation 11s ease ;
}

@-webkit-keyframes BlueAnimation {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes BlueAnimation {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes BlueAnimation {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

.Green {

    grid-area: 1 / 2 / 2 / 3;
    align-content: center;
    transition: background 1.5s linear 100ms;

    background: linear-gradient(327deg, #18de0a, #7dc242, #3b5c1f);
    background-size: 600% 600%;

}

@-webkit-keyframes GreenAnimation {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes GreenAnimation {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes GreenAnimation {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

.Green:hover {

    -webkit-animation: GreenAnimation 11s ease ;
    -moz-animation: GreenAnimation 11s ease ;
    animation: GreenAnimation 11s ease ;

}

.Company {



}

.Applicant {



}