html, body {
    margin: 0;

}



.Color_Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100%;
    text-align: center;

}

.Blue {
    grid-area: 1 / 1 / 2 / 2;
    align-content: center;
    background: linear-gradient(45deg, #1c487d, #00B9FB);
    background-size: 1000% 1000%;
    background-position: 0% 100%;
    transition-duration: 1s;

}

.Blue:hover {
    background-position: 100% 0%;
    color: white;

}

.Green {
    grid-area: 1 / 2 / 2 / 3;
    align-content: center;
    background: linear-gradient(135deg, #7DC242, #3B5C1F);
    background-size: 1000% 1000%;
    background-position: 100% 100%;
    transition-duration: 1s;

}

.Green:hover {
    background-position: 0% 0%;
    color: white;

}