* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;

}

html, body {
	margin: 0;
	height: 100%;
}

.submit1 {
	display:block;
	background: #10b981;
	color: white;
	cursor: pointer;
	text-align: center;
	width:50%;
	border-radius: 25px;
	margin: auto;
}

body {
	background-color: #10b981;
	overflow: hidden;
	padding: 0;
	display: grid;
	grid-template-columns: 1rem repeat(2, 1fr) 1rem;
	grid-template-rows: 1rem repeat(4, 1fr) 1rem;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.css_valid {
	border: 0;
	width: 88px;
	height: 31px;
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
}

.Page_Container {
	grid-area: 2 / 2 / 6 / 4;
	padding: 1rem;
	display: grid;
	background-color: #080808;
	justify-content: center;
	align-items: center;
}

p, h1, h2, h3 {
	font-family: "Crimson Text", serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	color: #f8fafc;
	text-align:center;
}

text, label {
	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	color: #f8fafc;
}

.landing {
	padding: 2rem;
	height:fit-content;
	width:50%;
	margin: auto;
	text-align:center;
	border: #10b981 2px solid;
  }