{% extends "company/base_generic_comp.html" %}

{% block title %}
  <title>Forgot Password</title>
{% endblock %}
<!-- TODO: Do more in -->

{% block content %}
<div class="title">
  <a href="{% url 'company:listings' %}">
      <h1 class="title">SalarySleuth</h1>
  </a>
  <br>
  <h2 class="sub_title" id="test" onclick="testFunction()">All Listings</h2>
</div>


<div>
  <h2>{{applicant.applicant.user.first_name}}</h2>
  <h2>{{applicant.applicant.user.last_name}}</h2>
  <h3>Applicant Information</h3>
</div>



  <a href="{% url 'company:listing_applicants' lid=1 %}">
    <button >Go back</button>
    </a>
<!-- TODO: Make as a pop up not a site -->
{% endblock %}