{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title>{{ listing.job_title }} | {{ listing.company.name }}</title>
{% endblock %}

{% block content %}

    <h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>

    <div class="listing_card">
        <div class="card_logo">
            <img class="company_logo" src="{{ listing.company.logo.url }}">
        </div>

        <div class="card_head">
            <h4>{{ listing.job_title }}</h4>
                <br>
            <p>Location: {{ listing.location }}</p>
        </div>

{# TODO: vantar company cover image#}

        <div class="card_main">
            <h3>Job Description</h3>
                <br>
            {{ listing.description |safe }}
        </div>

        <div class="card_listings">
            <h3>Job Details</h3>
                <br>
            <p>{{ listing.employment_type }}</p> <br>
            <p><strong>Job Category:</strong> <br> {{ listing.category }}</p> <br>
            <p><strong>Application Due:</strong> <br> {{ listing.due_date }}</p> <br>
            <p><strong>Starting Date:</strong> <br> {{ listing.starting_date }}</p> <br>
            <p class="listing_text"><strong>Salary:</strong>  <br> {{ listing.salary_low }}-{{ listing.salary_high }}  &#36; /Per Year</p>  <br>
            <p><strong>Company Name:</strong><a href="{% url 'company:company_detail' cid=listing.company_id %}"> <br> {{ listing.company }}</a></p>  <br>
        </div>

    </div>



  
{% endblock %}