{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title>Listing Applicants</title>
{% endblock %}


{% block content %}
<div class="title">
    <a href="{% url 'company:listings' %}">
        <h1 class="title">SalarySleuth</h1>
    </a>
    <br>
    <h2 class="sub_title" id="test" onclick="testFunction()">All Listings</h2>
</div>





<div class="listings_container">
    {% if applications %}

        {% for applicant in applications %}
            <div class="listing_box">
                <a class="listing" href="{% url 'company:applicant_detail' aid=1 lid=1 %}" >

                    <h2>Applicant: {{applicant.applicant_id}}</h2>
                    <h2>{{applicant.applicant.user.first_name}}</h2>
                    <h2>{{applicant.applicant.user.last_name}}</h2>

                </a>
            </div>
        {% endfor %}

        {% else %}
            <h1> No listings </h1>

    {% endif %}
</div>


<div class="pagination">
    <span class="step-links">
        {% if all_listings.has_previous %}
            <a class="has_prev" href="?page=1">&laquo; first</a>
            <a class="has_prev" href="?page={{ all_listings.previous_page_number }}">previous</a>
            {% else %}
                <a class="no_page">&laquo; first</a>
                <a class="no_page">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_listings.number }} of {{ all_listings.paginator.num_pages }}
        </span>

        {% if all_listings.has_next %}
            <a class="has_next" href="?page={{ all_listings.next_page_number }}">next</a>
            <a class="has_next" href="?page={{ all_listings.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                <a class="no_page">next</a>
                <a class="no_page">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}