{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title>Job listings</title>
{% endblock %}


{% block content %}
<h1>SalarySleuth</h1>

<a href="login">
    <button>Back to login</button>
</a>

<a href="profile">
    <button>profile</button>
</a>

<h2>
    Searching for
</h2>

<h3>
    Job listings related to current keyword...
</h3>


<form>
    <input type="text" id="jobname" name="jobname" placeholder="Search"><br>
</form>

<a href="{% url 'company:listing_detail' lid=1 %}">
<div>
<h2>
    Company<br>
    Job title
</h2>
<h3>
    Location and type of job<br>
    Salary
</h3>
</div>
</a>

<a href="{% url 'company:listing_detail' lid=2 %}">
    <div>
    <h2>
        Company<br>
        Job title
    </h2>
    <h3>
        Location and type of job<br>
        Salary
    </h3>
    </div>
    </a>

    <a href="{% url 'company:listing_detail' lid=3 %}">
        <div>
        <h2>
            Company<br>
            Job title
        </h2>
        <h3>
            Location and type of job<br>
            Salary
        </h3>
        </div>
        </a>

        <a href="{% url 'company:listing_detail' lid=4 %}">
            <div>
            <h2>
                Company<br>
                Job title
            </h2>
            <h3>
                Location and type of job<br>
                Salary
            </h3>
            </div>
            </a>

{% endblock %}