{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title>Your Companies' Listings</title>
{% endblock %}

{% block content %}

    <h1 class="title" id="test" onclick="testFunction()">SalarySleuth</h1>

    <div class="listings_container">
        {% if listings %}

            {% for listing in listings %}
                <div class="listing_box">
                    <a class="listing" href="{% url 'company:listing_detail' lid=listing.id %}" >
                        <h2 class="listing_text">{{ listing.job_title }}</h2>
                        <p class="listing_text"><strong>Company:</strong> {{ listing.company }}</p>
                        <p class="listing_text"><strong>Category:</strong> {{ listing.category }}</p>
                        <p class="listing_text"><strong>Type:</strong> {{ listing.employment_type }}</p>
                        <p class="listing_text"><strong>Salary:</strong> {{ listing.salary_low }}-{{ listing.salary_high }}  &#36; /Per Year</p>
                        <p class="listing_text"><strong>Due Date:</strong> {{ listing.due_date }}</p>
                    </a>
                </div>
            {% endfor %}

            {% else %}
                <h1> NO DATA </h1>

        {% endif %}
    </div>

{% endblock %}