{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title> Log in </title>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <p><a href="{% url 'utilities_static:choose' %}">Back</a></p>
    <h1>SalarySleuth</h1>
    <h2>Log in to Your Account</h2>
        <form class="Login_forms" method="post" action="{% url 'company:login_view' %}">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Enter Username"><br>
            <input type="password" id="password" name="password" placeholder="Enter Password"><br>
            <input type="submit" value="Log in">
        </form>
    <h3>
        or
    </h3>
    <p><a href="{% url 'company:register_page' %}">Register</a></p>
    <p><a href="{% url 'company:forgot' %}">Forgot Your Password</a></p>

{% endblock %}