{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title> Log in </title>
{% endblock %}


{% block content %}
    <h1>SalarySleuth</h1>
    <h2>Log in to Your Account</h2>
        <form>
        <input type="text" id="email" name="email" placeholder="Enter Company E-mail"><br>

        <input type="text" id="pword" name="pword" placeholder="Enter Company Password"><br>
        </form>
        <a href="{% url 'company:listings'%}">
            <button >Log in to Your Account</button>
        </a>
    <h3>
        or
    </h3>
    <p><a href="{% url 'company:register' %}">Register</a><S/p>
    <p><a href="{% url 'company:forgot' %}">Forgot Your Password</a></p>

{% endblock %}