{% extends "company/base_generic_comp.html" %}

{% block title %}
    <title>Job listings</title>
{% endblock %}


{% block content %}
<h1>SalarySleuth</h1>

<a href="{% url 'company:login'%}">
    <button>Back to login</button>
</a>

<a href="{% url 'company:profile' uid=1 %}">
    <button>profile</button>
</a>

<h2>
    Searching for
</h2>

<h3>
    Job listings related to current keyword...
</h3>


<form>
    <input type="text" id="jobname" name="jobname" placeholder="Search"><br>
</form>

<a href="{% url 'company:profile_listing_detail' uid=1 lid=1 %}">
<div>
<h2>
    Job title
</h2>
<h3>
    Location and type of job<br>
    Salary<br>
    Views -99<br>
    Applications-99<br>
    Time left-99<br>
</h3>
</div>
</a>


<a href="{% url 'company:profile_listing_detail' uid=1 lid=1 %}">
    <div>
    <h2>
        Job title
    </h2>
    <h3>
        Location and type of job<br>
        Salary<br>
        Views -99<br>
        Applications-99<br>
        Time left-99<br>
    </h3>
    </div>
    </a>

    <a href="{% url 'company:profile_listing_detail' uid=1 lid=1 %}">
        <div>
        <h2>
            Job title
        </h2>
        <h3>
            Location and type of job<br>
            Salary<br>
            Views -99<br>
            Applications-99<br>
            Time left-99<br>
        </h3>
        </div>
        </a>

        <a href="{% url 'company:profile_listing_detail' uid=1 lid=1 %}">
            <div>
            <h2>
                Job title
            </h2>
            <h3>
                Location and type of job<br>
                Salary<br>
                Views -99<br>
                Applications-99<br>
                Time left-99<br>
            </h3>
            </div>
            </a>

{% endblock %}