{% extends "company/base_generic_comp.html" %}

{% block title %}
  Profile
{% endblock %}


{% block content %}
  <h1>SalarySleuth</h1>
  <a href="{% url 'company:listings' %}">
    <button>Back to listings</button>
  </a>
  <h2>Company name</h2>
  <h3>Description</h3>

  <h2>Info</h2>
  <h3>Location</h3>
  <h3>Facebook</h3>
  <h3>Email</h3>
  <h3>bla bla</h3>

  <h2>Statistics</h2>
  <h3>employes:9999</h3>
  <h3>Equal pay approved</h3>
  <h3>bla bla bla</h3>

  <h2>Job listings</h2>
  <a href="{% url 'company:profile_listings' uid=1 %}">
    <button>All our company listings.</button>
  </a>

  


 
 


  <a >
  <button >Save</button>
  </a>
{% endblock %}