{% extends "company/base_generic_comp.html" %}

{% block title %}
  Profile
{% endblock %}


{% block content %}
  <h1>SalarySleuth</h1>
  <a href="{% url 'company:listings' %}">
    <button>Back to listings</button>
</a>

  <h2>Person</h2>
  <h2>Personal info</h2>
  <form>
    <label for="ssn">:</label><br>
    <input type="integar" id="ssn" name="ssn" placeholder="social-security"><br>

    <label for="dob">:</label><br>
    <input type="date" id="dob" name="dob" placeholder="06-08-2002"><br>
    </form>

    <label for="pn">:</label><br>
    <input type="pn" id="pn" name="pn" placeholder="1111-5656"><br>

    <label for="Gender">:</label><br>
    <input type="text" id="gender" name="gender" placeholder="woman"><br>

    </form>


  <h2>Education</h2>
  <form>
    <label for="edinst">:</label><br>
    <input type="text" id="edinst" name="Educational institution" placeholder="HR"><br>

    <label for="begin">:</label><br>
    <input type="date" id="begin" name="from_date" placeholder="from"><br>

    <label for="end">:</label><br>
    <input type="date" id="end" name="to_date" placeholder="to"><br>

    <label for="degree">Degree:</label><br>
    <textarea id="degree" name="degree" rows="6" cols="70">
    Enter text here...
    </textarea>
    </form>


  <h2>Work experience</h2>
  <form>
    <label for="compn">:</label><br>
    <input type="text" id="compn" name="Company_name" placeholder="Dominos"><br>

    <label for="role">:</label><br>
    <input type="text" id="role" name="Role" placeholder="Zaa maker"><br>

    <label for="begin">:</label><br>
    <input type="date" id="begin" name="from_date" placeholder="from"><br>

    <label for="end">:</label><br>
    <input type="date" id="end" name="to_date" placeholder="to"><br>

    <label for="responsi">Job duties:</label><br>
    <textarea id="responsi" name="responsi" rows="6" cols="70">
    Enter text here...
    </textarea>
    </form>


    <a href="{% url 'company:save'%}">
    <button >Save</button>
    </a>
{% endblock %}