{% extends "company/base_generic_comp.html" %}

{% block title %}
  <title>Register</title>
{% endblock %}


{% block content %}
  <h1>SalarySleuth</h1>

  <h2>Register a New Account</h2>
    <form>
    <input type="text" id="email" name="email" placeholder="Enter E-mail">

    <input type="text" id="pword" name="pword" placeholder="Enter Password">

    <input type="text" id="cpword" name="cpword" placeholder="Confirm Password">
    </form>
    <a href="listings">
    <button >Register</button>
    </a>
<h3>
or
</h3>
<p><a href="{% url 'company:login'%}" >log in</a></p>

{% endblock %}