{% extends "background.html" %}

{% block title %}
  Listing detail
{% endblock %}


{% block content %}
  <h1>SalarySleuth</h1>
  <a href="/listings">
    <button>Back to listings</button>
</a>

  <h2>Company</h2>
  <h3>Offer - Location</h3>

  <a href="/profile/1">
    <button >Profile</button>
    </a>
    <a href="/choose_info/1/1">
    <button >Apply</button>
    </a>

<h2>Job Description</h2>
<h3>aaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaa
</h3>



  
{% endblock %}