* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

body {
	background-color: #F5F6F8;
	overflow: hidden;
}

.sidebar-navigation {
	display: inline-block;
	min-height: 100vh;
	width: 80px;
	background-color: #313443;
	float: left;

	ul {
		text-align: center;
		color: white;

		li {
			padding: 28px 0;
			cursor: pointer;
			transition: all ease-out 120ms;

			i {
				display: block;
				font-size: 24px;

				transition: all ease 450ms;
			}

			.tooltip {
				display: inline-block;
				position: absolute;
				background-color: #313443;
				padding: 8px 15px;
				border-radius: 3px;
				margin-top: -26px;
				left: 90px;
				opacity: 0;
				visibility: hidden;
				font-size: 13px;
				letter-spacing: .5px;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}

			&:hover {
				background-color: #22252E;

				.tooltip {
					visibility: visible;
					opacity: 1;
				}
			}

			&.active {
				background-color: #22252E;

				i {
					color: #98D7EC;
				}
			}
		}
	}
}
